
<% cor = "brown darken-3"%>
<nav class="<%= cor %>">
    
    <div style="display: flex; justify-content: space-around;">
        <div>
            <% if current_user.nil? %>
                <%= link_to "G+", "/auth/google_oauth2", class: "btn-floating btn-large waves-effect waves-light red white-text"%>
            <% end %>
        </div>
        <div>
            <%= link_to 'Produtos', products_path, class: "waves-effect waves-light btn grey white-text"%>
        </div>
        
        <div>
            <%= link_to 'Carrinho', cart_index_path, class: "waves-effect waves-light btn grey white-text"%>
        </div>

    </div>

</nav>