<% my_cart_contributors.each do |cart| %>

<div style="display: flex; justify-content: center;">
    <p class="name_cart"> <%= "#{cart.user.name.split(' ').first}'s cart " %> </p>
</div>


    <% cart_products = CartProduct.where(cart_id: cart.id) %>
    <% products = [] %>
    <% cart_products.each{ |cp| products << Product.find(cp.product_id) } %>

    <div style="display: flex; justify-content: left; align-items: center; flex-direction: column;"> 
        
        <% products.each do |p|%>
            <div id="item">
                <%= p.name %>
            </div>
        <% end %>

    </div> 

    <div style="display: flex; justify-content: center; padding: 10px;">
        <%= link_to "Leave the #{cart.user.name.split(' ').first}'s cart", 
                    leave_cart_path(cart.id), 
                    method: :delete, 
                    class: "red darken-4 white-text waves-effect waves-light btn" %>
    </div>

<% end %>