<div style="display: flex; justify-content: left; align-items: center; flex-direction: column;"> 
<% @products.each do |p|%>
    <div id="item">
        <%= p.name %>
    </div>
<% end %>


<%= link_to "Finalizar", finish_path, method: :post, class: "white-text waves-effect waves-light btn", style: "margin: 50px;"%>
</div> 

<%= render 'add_contributor_form', cart_id: @cart.id %>

<style>

    #item{
        padding: 10px;
        margin: 5px;
        background-color: grey;
        color: white;
    }

</style>
